<div class="error-container center-block">
    <section class="content center-block m-t-20">
        <div class="error-page">
            <h2 class="headline text-red m-l-20 p-l-20"><i class="fa fa-warning text-red m-l-20 p-l-20"></i> 403 <small>Acesso negado :(</small></h2>
            <div class="error-content m-l-20 p-l-20">
                <p class="m-l-20 p-l-20">
                    Certifique-se de que você está autenticado ou possui as permissões necessárias para acessar este recurso.
                    <br />
                </p>
            </div>
            <div class="mx-auto text-center">
            <img src="assets/img/panda.png">
          </div>
        </div>
    </section>
</div>
