<div [hidden]="!is_loaded">
	<section class="content-header">
		<h1>
			Criação de loja
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-shopping-cart"></i> Lojas</li>
		</ol>
	</section>

	<section class="content">
		<form #f="ngForm" (ngSubmit)="create()">
			<div class="row">
				<div class="col-lg-12">
					<div class="box box-info col-md-6">
						<br>
						<legend>
							<i class="fa fa-fw fa-user"></i>
							Dados cadastrais
						</legend>
						<div class="box-body">
							<div class="form-group col-lg-6" [ngClass]="displayFieldCss('store.name')">
								<label>Nome da loja*</label>
								<input type="text" placeholder="Nome da loja" class="form-control" name="store_name" [(ngModel)]="store.name" />
								<app-field-error-display [displayError]="isFieldValid('store_name')" errorMsg="Informe o nome da loja.">
								</app-field-error-display>
							</div>
						</div>
						<div class="box-body">
							<div class="form-group col-lg-6" [ngClass]="displayFieldCss('company_name')">
								<label>Razão Social*</label>
								<input type="text" [(ngModel)]="store.company_name" placeholder="Razão Social da empresa" class="form-control"
								 name="company_name" />
								<app-field-error-display [displayError]="isFieldValid('company_name')" errorMsg="Informe a razão social.">
								</app-field-error-display>
							</div>
							<div class="form-group col-lg-3" [ngClass]="displayFieldCss('cnpj')">
								<label>CNPJ*</label>
								<input type="text" mask="99.999.999/9999-99" placeholder="CNPJ" [(ngModel)]="store.cnpj" class="form-control"
								 name="cnpj" />
								<app-field-error-display [displayError]="isFieldValid('cnpj')" errorMsg="Informe o CNPJ.">
								</app-field-error-display>
							</div>
							<div class="form-group col-lg-3">
								<label>IE</label>
								<input type="text" placeholder="IE" class="form-control" name="ie" [(ngModel)]="store.ie" />
							</div>
						</div>
						<br>
						<div class="box-default">
							<div>
								<legend>
									<i class="fa fa-fw fa-user"></i>
									Informações de contato
								</legend>
								<div class="box-body">
									<div class="form-group col-lg-6" [ngClass]="displayFieldCss('user_name')">
										<label>Nome*</label>
										<input type="text" placeholder="Nome" class="form-control" name="user_name" [(ngModel)]="address.contact_name" />
										<app-field-error-display [displayError]="isFieldValid('user_name')" errorMsg="Informe o nome de contato">
										</app-field-error-display>
									</div>
								</div>
								<br>
								<div class="box-default">
									<legend>
										<i class="fa fa-fw fa-globe"></i>
										Endereço principal
									</legend>
									<div class="box-body">
										<div class="form-group col-lg-3" [ngClass]="displayFieldCss('addresses.zip_code')">
											<label>CEP*</label>
											<input type="text" class="form-control" name="zip_code" mask="99999-999"
											[(ngModel)]="address.zip_code" placeholder="CEP" />
											<app-field-error-display [displayError]="isFieldValid('addresses.zip_code')" errorMsg="Informe o CEP.">
											</app-field-error-display>
										</div>
										<div class="form-group col-lg-6" [ngClass]="displayFieldCss('addresses.street')">
											<label>Logradouro*</label>
											<input type="text" class="form-control" name="street" [(ngModel)]="address.street" placeholder="Logradouro"
											 required />
											<app-field-error-display [displayError]="isFieldValid('addresses.street')" errorMsg="Informe o logradouro.">
											</app-field-error-display>
										</div>
										<div class="form-group col-lg-3" [ngClass]="displayFieldCss('addresses.number')">
											<label>Número*</label>
											<input type="number" class="form-control" name="number" [(ngModel)]="address.number" placeholder="Número" />
											<app-field-error-display [displayError]="isFieldValid('addresses.number')" errorMsg="Informe o número.">
											</app-field-error-display>
										</div>
									</div>
									<div class="box-body">
										<div class="form-group col-lg-3" [ngClass]="displayFieldCss('addresses.district')">
											<label>Bairro*</label>
											<input type="text" class="form-control" name="district" [(ngModel)]="address.district" placeholder="Bairro"
											 required />
											<app-field-error-display [displayError]="isFieldValid('addresses.district')" errorMsg="Informe o bairro.">
											</app-field-error-display>
										</div>
										<div class="form-group col-lg-6" [ngClass]="displayFieldCss('addresses.city')">
											<label>Cidade*</label>
											<input type="text" class="form-control" name="city" [(ngModel)]="address.city" placeholder="Cidade" required />
											<app-field-error-display [displayError]="isFieldValid('addresses.city')" errorMsg="Informe a cidade.">
											</app-field-error-display>
										</div>
										<div class="form-group col-lg-3" [ngClass]="displayFieldCss('addresses.state')">
											<label>Estado*</label>
											<select class="form-control" name="state" id="state" required [(ngModel)]="address.state">
												<option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
											</select>
											<app-field-error-display [displayError]="isFieldValid('addresses.state')" errorMsg="Informe o estado.">
											</app-field-error-display>
										</div>
									</div>
									<div class="box-body">
										<div class="col-lg-4">
											<label>Complemento</label>
											<input type="text" class="form-control" name="complement" [(ngModel)]="address.complement" placeholder="Complemento" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="col-lg-12">
							<div class="form-group">
								<button type="submit" [disabled]="!f.valid" class="btn btn-primary m-t-23">
									<span class="glyphicon glyphicon-plus-sign"></span>
									<span class="hidden-xs">Criar</span>
								</button>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>
