<div [hidden]="!is_loaded">
	<section class="content-header">
		<h1>
			Gerenciar metadados
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-edit"></i> Gerenciar metadados</li>
		</ol>
	</section>

	<section class="content">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">
					<i class="fa fa-list"></i> Lista de campos</h3>
				<button type="button" class="btn btn-success btn-sm pull-right m-b-10" (click)="show_modal = true" *ngIf="currentMetadadosPermission?.Insert">
					<i class="fa fa-plus"></i> Adicionar novo campo
				</button>
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-bordered table-striped tableResp" *ngIf="metadatas_fields?.length > 0; else notMetadatas">
							<thead>
								<tr>
									<th class="text-center">Nome</th>
									<th class="text-center">JSON ID</th>
									<th class="text-center">Tipo</th>
									<th class="text-center">Formato</th>
									<th class="text-center">Data</th>
									<th class="text-center" colspan="2">Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of metadatas_fields | orderBy:'save_date':false | paginate: {
														id: 'metadatas_pagination',
														itemsPerPage: 10,
														currentPage: currentPage
													}" [class.item-inserted]="item.is_new == true">
									<td class="hidden">
										<span>{{ item.code }}</span>
									</td>
									<td data-title="Nome" class="v-align-center">
										<span>{{ item.name }}</span>
									</td>
									<td data-title="JSON ID" class="text-center v-align-center">
										<span>{{ item.json_id }}</span>
									</td>
									<td data-title="Tipo" class="text-center v-align-center">
										<span>{{ item.attributes.type_name }}</span>
									</td>
									<td data-title="Formato" class="text-center v-align-center">
										<span>
											<i class="fa {{ item.attributes.icon }}"></i> {{ item.attributes.format_name }}</span>
									</td>
									<td data-title="Data" class="text-center v-align-center">
										<span>{{ item.save_date | date:'dd/MM/yyyy HH:mm' }}</span>
									</td>
									<td data-title="" class="text-center v-align-center">
										<button class="btn btn-link" (click)="delete(item.code, item.type)" *ngIf="currentMetadadosPermission?.Remove">
											<i class="fa fa-trash text-red" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="Remover campo"></i>
										</button>
									</td>
									<td data-title="" class="text-center v-align-center">
										<button class="btn btn-link" (click)="edit(item.code); show_modal = true">
											<i class="fa fa-edit" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="Editar campo"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="data-tables-paginate text-center" *ngIf="metadatas_fields?.length > 10">
							<pagination-controls id="metadatas_pagination" (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
						</div>
						<ng-template #notMetadatas>
							<div class="box-header">
								<div class="col-sm-12">
									<p class="text-center">
										Você não tem campo cadastrado!
										<br/>
									</p>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal fade in p-r-15" id="modal-metadata-field" [ngClass]="{ 'in' : show_modal }" [ngStyle]="{ 'display': show_modal ? 'block' : 'none' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<form #f="ngForm" (ngSubmit)="save()">
					<div class="modal-header">
						<button type="button" class="close" (click)="cancel()" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title">
							<i class="fa fa-edit"></i>
							<span *ngIf="!metadata_field.code"> Adicionar campo</span>
							<span *ngIf="metadata_field.code"> Editar campo</span>
						</h4>
					</div>

					<div class="modal-body">
						<div class="box-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Nome</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-file-text-o"></i>
											</div>
											<input type="text" name="name" placeholder="Nome do campo" autocomplete="off" class="form-control" [(ngModel)]="metadata_field.name"
											 [required]="true">
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label>JSON ID</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-code"></i>
											</div>
											<input type="text" name="json_id" placeholder="Nome do campo no json da api" autocomplete="off" class="form-control" [(ngModel)]="metadata_field.json_id"
											 [required]="true" [disabled]="metadata_field.code" (keypress)="validateOnlyLetters($event)">
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label>Tipo</label>
										<select name="type" class="form-control" [(ngModel)]="metadata_field.type" [required]="true" [disabled]="metadata_field.code">
											<option value="">Selecione...</option>
											<option value="1">Loja</option>
											<option value="2">Membro</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label>Formato</label>
										<select name="format" class="form-control" [(ngModel)]="metadata_field.format" (ngModelChange)="changeFormat($event)" [required]="true"
										 [disabled]="metadata_field.code">
											<option *ngFor="let item of metadata_formats" [ngValue]="item.id">
												{{item.text}}
											</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6" [ngStyle]="!validator_types.length && {'visibility': 'hidden'}">
									<div class="form-group">
										<label>Tipo validador</label>
										<select name="validator-type" class="form-control" [(ngModel)]="metadata_field.validator.type">
											<option *ngFor="let item of validator_types" [ngValue]="item.id">
												{{item.text}}
											</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row" *ngIf="validator_types.length">

								<div class="col-lg-12" *ngIf="metadata_field.validator.type == 'Options'">
									<div class="form-group">
										<label>Lista de valores</label>
										<tag-input name="validator-values" [theme]="'bootstrap'" [(ngModel)]="metadata_field.validator.values" [separatorKeyCodes]="[13, 191]"
										 [dragZone]="'zone1'" [ripple]="false" [editable]="true" [modelAsStrings]="true" [clearOnBlur]="true" [placeholder]="'Utilize ; para separar os valores e adicionar em lote'"
										 [secondaryPlaceholder]="'Utilize ; para separar os valores e adicionar em lote'" [errorMessages]="error_messages_validator"
										 [validators]="validate_by_format" [addOnPaste]="true" [pasteSplitPattern]="';'">
										</tag-input>
									</div>
								</div>
								<div class="col-lg-12" *ngIf="metadata_field.validator.type == 'JsonSchema'">
									<div class="form-group">
										<label>Schema JSON</label>
										<json-editor #jsonschema name="validator-jsonschema" [(ngModel)]="metadata_field.validator.schema" [config]="{mode: 'code', statusBar: false}"></json-editor>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="submit" [disabled]="!f.valid" class="btn btn-success" *ngIf="currentMetadadosPermission?.Edit">
							<span *ngIf="metadata_field.code">
								<i class="fa fa-save "></i> Salvar</span>
							<span *ngIf="!metadata_field.code">
								<i class="fa fa-plus"></i> Adicionar</span>
						</button>
						<button type="button" class="btn btn-danger" (click)="cancel()">
							<span *ngIf="metadata_field.code">
								<i class="fa fa-rotate-left"></i> Cancelar</span>
							<span *ngIf="!metadata_field.code">
								<i class="fa fa-close"></i> Fechar</span>
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
