<div class="overpanel">

    <div class="overpanel__container">

        <span [routerLink]="['/meus-dados']" class="overpanel__close"></span>


        <main class="gerais  grid xl_8 lg_8 md_10 sm_12 xs_12">
            <h1 class="title">Alterar senha</h1>
            <div class="form">
                <div class="form__group form__password">

                    <div class="form__block grid xl_12 lg_12 md_12 sm_12 xs_12">
                        <span class="form__password__msg">Confirmar sua senha atual</span>
                        <input class="form__block__control" data-val="true" [(ngModel)]="password" data-val-regex="Senha atual inválida" id="INFO"
                            name="INFO" type="password" placeholder="Senha atual" value="">
                    </div>

                    <div class="form__block grid xl_12 lg_12 md_12 sm_12 xs_12">
                        <span class="form__password__msg">Digitar sua nova senha</span>
                        <input class="form__block__control" data-val="true" data-val-regex="Nova senha inválida" id="INFO"
                            name="INFO" type="password" placeholder="Nova senha" value="" [(ngModel)]="new_password">
                    </div>

                    <div class="form__block grid xl_12 lg_12 md_12 sm_12 xs_12">
                        <input class="form__block__control" data-val="true" [(ngModel)]="new_password_confirm" data-val-regex="Confirmar nova senha inválida" id="INFO"
                            name="INFO" type="password" placeholder="Confirmar nova senha" value="">
                    </div>


                    <div class="form__block grid xl_12 lg_12 md_12 sm_12 xs_12">
                        <button type="submit" (click)="save()" class="rkbt rkbt--one button">SALVAR</button>
                    </div>

                </div>

            </div>

        </main>

    </div>

</div>
