<div class="error-container center-block">
    <section class="content center-block m-t-20">
        <div class="error-page">
            <h2 class="headline text-yellow m-l-20 p-l-20"><i class="fa fa-warning text-red m-l-20 p-l-20"></i> 404 <small>Página não encontrada :(</small></h2>
            <div class="error-content m-l-20 p-l-20">
                <p class="m-l-20 p-l-20">
                    Infelizmente a página que você está procurando não foi encontrada.
                    <br />
                </p>
            </div>
            <div class="mx-auto text-center">
            <img src="assets/img/panda.png">
          </div>
        </div>
    </section>
</div>
