<div class="error-container">
    <section class="content-header">
        <h1>
            <br />
        </h1>
    </section>
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
                <h3>
                    <i class="fa fa-warning text-red"></i> Página não encontrada
                </h3>
                <p>
                    Infelizmente a página que você estava procurando não foi encontrada.
                    <br />
                </p>
            </div>
            <img src="assets/img/panda.png">
        </div>
    </section>
</div>
<div class="login-logo">
    <span class="logo-lg text-red">
        <b>Hagrid</b></span>
</div>
