<div class="overpanel">

    <div class="overpanel__container">
  
      <span [routerLink]="['/meus-dados']" class="overpanel__close"></span>
  
      <main class="adm grid xl_8 lg_8 md_10 sm_12 xs_12">
  
        <h1 class="adm__title">Gerenciar E-Mails</h1>
        <small class="adm__small">Você tem 2 e-mails cadastrados.</small>
        <a [routerLink]="['/meus-dados/mail-add']" class="adm__add">Adicionar novo e-mail</a>
  
        <div class="adm__box">
            <span class="adm__box__sep"></span>
            <span class="adm__box__info">emeailteste@email.com</span>
            <span class="adm__box__type">Endereço principal</span>
            <div class="adm__box__action">
              <a class="adm__box__link" href="#">Atualizar</a> | <a class="adm__box__link" href="">Remover</a>
            </div>
        </div>

        <div class="adm__box">
            <span class="adm__box__sep"></span>
            <span class="adm__box__info">emeailteste@email.com</span>
            <div class="adm__box__action">
              <a class="adm__box__link" href="#">Atualizar</a> | <a class="adm__box__link" href="">Remover</a> | <a class="adm__box__link" href="">Tornar principal</a>
            </div>
        </div>

        <div class="adm__box">
            <span class="adm__box__sep"></span>
            <span class="adm__box__info">emeailteste@email.com</span>
            <div class="adm__box__action">
              <a class="adm__box__link" href="#">Atualizar</a> | <a class="adm__box__link" href="">Remover</a> | <a class="adm__box__link" href="">Tornar principal</a>
            </div>
        </div>

        <div class="adm__box">
            <span class="adm__box__sep"></span>
            <span class="adm__box__info">emeailteste@email.com</span>
            <div class="adm__box__action">
              <a class="adm__box__link" href="#">Atualizar</a> | <a class="adm__box__link" href="">Remover</a> | <a class="adm__box__link" href="">Tornar principal</a>
            </div>
        </div>

        <div class="adm__box">
            <span class="adm__box__sep"></span>
            <span class="adm__box__info">emeailteste@email.com</span>
            <div class="adm__box__action">
              <a class="adm__box__link" href="#">Atualizar</a> | <a class="adm__box__link" href="">Remover</a> | <a class="adm__box__link" href="">Tornar principal</a>
            </div>
        </div>

        <div class="adm__box">
            <span class="adm__box__sep"></span>
            <span class="adm__box__info">emeailteste@email.com</span>
            <div class="adm__box__action">
              <a class="adm__box__link" href="#">Atualizar</a> | <a class="adm__box__link" href="">Remover</a> | <a class="adm__box__link" href="">Tornar principal</a>
            </div>
        </div>
  
  
      </main>
  
    </div>
  
  
  
  </div>