<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="AccountsConn" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DBHAccounts;Integrated Security=True;Connection Timeout=90" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="Environment" value="Local"/>
    <add key="RunSeed" value="true"/>

    <add key="ConnectionStringName" value="AccountsConn"/>
    <add key="MaximumConsecutiveWrongLoginAttempts" value="5" />
    <add key="LockedTimeInMinutes" value="30" />
    <add key="AccountsSiteURL" value="http://localhost:55777" />
    <add key="JwtTokenKey" value="f04d22f160094c464039f9163ae10be30bfe14489b4d7f3ee5ff6f4da78febd8" />
    <add key="AllowedRedirectUris" value="http://localhost:55777|http://localhost:57766|https://www.getpostman.com" />
    <add key="TokenExpirationTimeInMinutes" value="60" />
    <add key="ChangePassworkTokenExpirationTimeInSeconds" value="120" />
    <add key="SecondsToRegeneratePasswordRecovery" value="60"/>
    <add key="AccountApiBaseURL" value="http://localhost:55888/v2"/>
    <add key="AccountAdminClientId" value="415FDF9E-8350-4D88-9982-E89431F87B5F"/>
    <add key="AccountAdminSecret" value="7F91462A2CFE"/>
    <add key="DirImages" value="C:\dev\imagens\hagrid"/>
    <add key="ChangePasswordTokenExpirationTimeInHours" value="24"/>
    <add key="UrlRoot" value="http://localhost:4201/"/>
    <add key="DirRoot" value="C:\dev\hagrid\Web\Hagrid.UI.Admin\"/>
    <add key="PermissionsShowConfSecret" value="robson.pedroso@hagrid.com.br,robson@hagrid.com.br"/>
    <add key="AssetsCsvDir" value="assets\\csv\\requisitions" />
    <add key="AssetsCsvURL" value="assets/csv/requisitions" />

    <add key="AdminApplications" value="Hagrid-UI-Admin"/>
    <add key="CustomerDashboardClientId" value="F4CA07ED-FF1A-4196-B1DC-2B04CAEAC3BB"/>
    <add key="CustomerDashboardSecret" value="3b9af62bb6af"/>

    <add key="ResetPasswordSMSExpiresUtc" value="10"/>
    <add key="TransferTokenExpiresUtc" value="90"/>

    <add key="ResetPasswordSMSMessage" value="Use o código {0} para redefinir sua senha do Hagrid na loja {1}"/>

  </appSettings>
  <system.web xdt:Transform="Replace">
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <log4net xdt:Transform="Replace">
    <logger name="NHibernate" additivity="false">
    </logger>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\dev\logs\hagrid\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1024KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <encoding value="utf-8"/>
      <facility value="Local6"/>
      <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} app_accounts %X{correlation_id} %X{client_ip}"/>
      <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline"/>
      <remoteAddress value="logs4.papertrailapp.com"/>
      <remotePort value="28836"/>
    </appender>
    <appender name="SlackAppender" type="Log4Slack.SlackAppender, Log4Slack">
      <WebhookUrl value="https://hooks.slack.com/services/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" />
      <Channel value="#hagrid-dev" />
      <Username value="hagrid.API" />
      <IconUrl value="" />
      <IconEmoji value=":loudspeaker:" />
      <AddAttachment value="true" />
      <AddExceptionTraceField value="true" />
      <UsernameAppendLoggerName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-ddTHH:mm:ss} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="SlackAppender" type="Log4Slack.SlackAppender, Log4Slack">
      <WebhookUrl value="https://hooks.slack.com/services/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" />
      <Channel value="#hagrid-dev" />
      <Username value="hagrid.API" />
      <IconUrl value="" />
      <IconEmoji value=":loudspeaker:" />
      <AddAttachment value="true" />
      <AddExceptionTraceField value="true" />
      <UsernameAppendLoggerName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-ddTHH:mm:ss} [%X{correlation_id}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="SlackErrorAppender" type="Log4Slack.SlackAppender, Log4Slack">
      <WebhookUrl value="https://hooks.slack.com/services/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" />
      <Channel value="#hagrid-dev" />
      <Username value="hagrid.API" />
      <IconEmoji value=":loudspeaker:" />
      <AddAttachment value="true" />
      <AddExceptionTraceField value="true" />
      <UsernameAppendLoggerName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-ddTHH:mm:ss} [%X{correlation_id}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="DebugSQL"/>-->
      <appender-ref ref="FileAppender" />
      <!--<appender-ref ref="PapertrailRemoteSyslogAppender" />-->
    </root>
    <logger name="HagridBaseApplication">
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="SlackAppender" />
    </logger>
  </log4net>
</configuration>