@import "src/assets/scss/import.scss";

.box {
    @include e("phone") {
        @include e("info") {
            &:first-of-type {
                width: 100%;
            }
        }


        @include e("sep") {
            width: 100%;
            height: 1px;
            background-color: #ebebeb;
            margin: 10px 0px;
        }


        @include e("text") {
            @include fonte($second-font, normal, 12px, $color-gray-dark);
            @include m("desc") {
                @include fonte($second-font, normal, 12px, $color-gray);

                display: block;
                width: 100%;
            }
        }
    }
}
