<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>

  <packageSources>

    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />

    <add key="GenComm | NuGet" value="http://nuget.rakuten.com.br/api/v2" />

  </packageSources>
</configuration>