@import "src/assets/scss/import.scss";

.box {
    @include e("address") {
        @include e("info") {
            @include fonte($second-font, normal, 12px, $color-gray-dark);

            width: 100%;
            display: block;
        }


        @include e("type") {
            @include fonte($second-font, normal, 11px, $color-gray);

            margin: 5px 0px;
            display: block;
        }
    }
}
