<div class="home">
    <div class="rk-row home__header">
        <div class="wrapper">
            <h1 class="home__header__title">Bem vindo ao <br /> GenSafeID</h1>
            <span class="home__header__desc">Aqui você poderá consultar seus Super Points, <br /> administrar seus dados cadastrais e cartões de crédito.</span>
            <a routerLink="/dashboard" class="btn btn-outline-primary dn" href="javascript:;">Clique aqui para entrar</a>
        </div>
    </div>

    <div class="rk-row home__content">
        <div class="wrapper">
            <h1 class="home__content__title">Existem muitas outras razões para você usar o GenSafeID.</h1>

            <div class="cardgroup">
                <div class="cardgroup__card">
                    <img src="./assets/img/card1.png" alt="Você sempre protegido">
                    <h3 class="cardgroup__card__title">Você sempre protegido</h3>
                    <span class="cardgroup__card__desc">Seus dados ficam armazenados com a máxima segurança. Se seu produto não chegar, você pode ser reembolsado.</span>
                </div>

                <div class="cardgroup__card">
                    <img src="./assets/img/card2.png" alt="Levamos sua segurança a sério">
                    <h3 class="cardgroup__card__title">Levamos sua segurança a sério</h3>
                    <span class="cardgroup__card__desc">Faça suas compras com seguranças em diversas lojas pela Internet. Protegemos você contra pagamentos não autorizados.</span>
                </div>

                <div class="cardgroup__card wow fadeIn">
                    <img src="./assets/img/card3.png" alt="Apoio para resolução de problemas">
                    <h3 class="cardgroup__card__title">Apoio para resolução de problemas</h3>
                    <span class="cardgroup__card__desc">Ajudamos a resolver problemas com suas compras, e apoiamos em caso de suspeita de fraude ou roubo de identidade em sua conta do GenSafeID.</span>
                </div>
            </div>


        </div>
    </div>

</div>

