<div ng-show="isLoaded" ng-init="init()">

    <div>
        <div class="col-md-6 col-xs-12">
            <div class="row center-row ">

                <div class="text-center alert" role="alert" ng-class="messageClass" ng-show="displayed == 'message'">
                    {{message}}
                </div>

                <div ng-show="displayed == 'form'">
                    <div class="text-center alert alert-warning" role="alert" ng-show="showChangePasswordMessage">
                        A sua senha atual não atendente a nova política e deve ser alterada por motivos de segurança.
                    </div>
                    <div class="logo-store" ng-style="{'background': 'url(' + clientAppLogo + ') no-repeat center'}">
                        <img src="{{clientAppLogo}}" style="visibility: hidden;" />
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Alteração de senha</h3>
                        </div>
                        <div class="panel-body">
                            <form novalidate name="pwdForm" role="form" ng-submit="pwdForm.$valid && changePassword()">

                                <div class="form-group" ng-class="{ 'has-error' : pwdForm.password.$touched && pwdForm.password.$invalid }">
                                    <input type="password" name="password" class="form-control" placeholder="Senha atual" autocomplete="off"
                                           ng-model="password"
                                           ng-change="setPasswordValidity()"
                                           ng-required="true">

                                    <div ng-show="pwdForm.password.$touched" ng-messages="pwdForm.password.$error" role="alert">
                                        <p ng-message="required" class="help-block">Não pode estar em branco.</p>
                                        <p ng-message="invalid_password" class="help-block">Sua senha atual está inválida.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : pwdForm.passwordNew.$touched && pwdForm.passwordNew.$invalid }">
                                    <input type="password" name="passwordNew" class="form-control" placeholder="Nova senha" autocomplete="off"
                                           ng-model="passwordNew"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           ng-required="true"
                                           ng-password-validation>

                                    <div ng-show="pwdForm.passwordNew.$touched" ng-messages="pwdForm.passwordNew.$error" role="alert">
                                        <p ng-message="generic" class="help-block">Erro inesperado, re-carregue a página para continuar.</p>
                                        <p ng-message="required" class="help-block">Não pode estar em branco.</p>
                                        <p ng-message="Empty" class="help-block">Não pode estar em branco.</p>
                                        <p ng-message="EqualsToEmail" class="help-block">Não pode ser seu e-mail.</p>
                                        <p ng-message="OnlyAsterisk" class="help-block">Não pode ser formada somente por * (asterisco).</p>
                                        <p ng-message="Length" class="help-block">Deve conter ao menos 8 (oito) caracteres.</p>
                                        <p ng-message="BiggerThen" class="help-block">Deve ser menor que 50 (cinquenta) caracteres.</p>
                                        <p ng-message="WhiteSpace" class="help-block">Não pode conter espaços.</p>
                                        <p ng-message="InvalidChar" class="help-block">Possui caracteres inválidos.</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : pwdForm.passwordConf.$touched && pwdForm.passwordConf.$invalid }">
                                    <input type="password" name="passwordConf" class="form-control" placeholder="Confirmação da nova senha" autocomplete="off"
                                           ng-model="passwordConf"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           ng-required="true"
                                           ng-password-confirmation="passwordNew">

                                    <div ng-show="pwdForm.passwordConf.$touched" ng-messages="pwdForm.passwordConf.$error" role="alert">
                                        <p ng-message="required" class="help-block">Não pode estar em branco.</p>
                                        <p ng-message="different" class="help-block">A confirmação e senha não batem.</p>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-primary pull-right" ng-loading-button ng-submit-validation="pwdForm" type="submit" title="Preencha os campos para continuar.">Continuar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <app-info></app-info>

        </div>
    </div>
</div>