<div ng-show="isLoaded" ng-init="init()">

    <div>
        <div ng-if="isValid">
            <div class="logo-store" ng-style="{'background': 'url(' + storeLogo + ') no-repeat center'}">
                <img src="{{storeLogo}}" style="visibility: hidden;" />
                <h1>{{storeName}}</h1>
            </div>
        </div>
        <div class="panel">

            <h4>PARA SUA SEGURANÇA</h4>
            <p>Olá,<br />A loja que você está tentando acessar teve sua segurança ampliada através do Hagrid, desta forma é necessário que você redefina sua senha para acesso às lojas participantes do Programa, guarde este acesso pois ele é único para acessar todas as lojas com Hagrid.</p>
            <p>Agradecemos a colaboração!</p>

        </div>
    </div>
</div>