<main class="dash wrapper">

  <div class="dash__col dash__col--first grid xl_4 lg_4 md_4 sm_12 xs_12">

    <app-superpoints-box></app-superpoints-box>

    <app-box-my-cards></app-box-my-cards>

    <div class="dash__box dn">

      <div class="dash__box__title">
        <h3 class="dash__title">Central de Ajuda</h3>
        <a class="dash__details" href="#">Detalhes</a>
      </div>

      <div class="dash__box__content">
        <a class="dash__box__link" href="#">Como posso verificar meus pontos nos programas de fidelidade?</a>
        <a class="dash__box__link" href="#">Como adiciono um cartão à minha conta do GenSafeID?</a>
        <a class="dash__box__link" href="#">Como posso editar meu telefone?</a>
      </div>

    </div>

  </div>

  <div class="dash__col dash__col--second grid xl_8 lg_8 md_8 sm_12 xs_12">
    <app-dashboard-orders></app-dashboard-orders>
  </div>

</main>
